/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=JetBrains+Mono:wght@400;500;600&display=swap');

body {
  background-color: #1A1A23;
}

a {
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
}

.buttons {
  font-family: 'JetBrains Mono', monospace;
  font-weight: 400;
  position: absolute;
  top: 30px;
  color: #E5E7E6;
}

.buttons .home {
  position: absolute;
  left: 30px;
}

.buttons .portfolio {
  position: absolute;
  left: 1700px;
  color: #E65F5C;
}

.buttons .blog {
  position: absolute;
  left: 1600px;
  color: #2191FB;
}

.buttons .contact {
  position: absolute;
  left: 1500px;
  color: #00916E;
}

.header {
  width: 882px;
  height: 187px;
  position: absolute;
  top: 191px;
  bottom: 702px;
  left: 519px;
  right: 519px;
  background: #353535;
  border-radius: 20px;
}

.header h1{
  position: absolute;
  width: 882px;
  height: 100px;


  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 84px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;

  color: #FFE66D;
}

.body {
  position: absolute;
  width: 882px;
  height: 500px;
  top: 425px;
  bottom: 202px;
  left: 519px;
  right: 519px;
  background: #353535;
  border-radius: 20px;
}

.body h1 {
  position: absolute;
  padding: 10px 10px 10px 100px;


  text-align: center;
  font-family: 'JetBrains Mono', monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  display: flex;
  align-items: center;
  color: #519e8a;

}
