<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
  </head>
  <link href="https://fonts.googleapis.com/css?family=Raleway:200,100,400" rel="stylesheet" type="text/css" />

  <link rel="stylesheet" href="{{ url_for('static', filename='css/ai.css') }}">
  <body>

    <h1>This pen is
      <span
         class="txt-rotate"
         data-period="2000"
         data-rotate='{{ words }}'></span>
    </h1>
    <h2>A single &lt;span&gt; is all you need.</h2>
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
  </body>
</html>
