<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset="UTF-8">
    <title>Home</title>
  </head>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">

  <body>
    <div class="buttons">
      <div class="home">
        <a href="google.com">/home</a>
      </div>
      <div class="portfolio">
        <a href="portfolio">/portfolio</a>
      </div>
      <div class="blog">
        <a href="google.com">/blog</a>
      </div>
      <div class="contact">
        <a href="google.com">/contact</a>
      </div>
    </div>

    <div class="header">
      <h1>Hello World, It's Jeevan Shah</h1>
    </div>
    
    <div class="body">
      <h1>Hello World, It's Jeevan Shah</h1>
    </div>

  </body>
</html>
